.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spread content vertically */
    align-items: center; /* Center content horizontally */
}

.card {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; 
    margin: 4px;
}
.card-text {
   
    color: #4a4a4a;
    margin: 0px;
}
.card-title {
    font-size: 18px;
    color: #4a4a4a;
    margin: 0px;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.buy-now-button {
    background: linear-gradient(to bottom, #4a4a4a, #000000);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    margin-top: 10px; /* Give some space above the button */
}

.buy-now-button:hover {
    background: linear-gradient(to bottom, #000000, #4a4a4a);
}

.card-img-top {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    margin: auto;
    object-fit: cover;
}
